## gitignore

## Workspace
.idea/
.vscode/

## ignore certs for use in certain environments
**.crt

##
public/uploads/documents/*

###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/
node_modules/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###